2ASIX/M04/A2_xml_valid/A2_activitat6/2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="portaoberta" type="xs:boolean" default="true"/>
        <xs:element name="finestratancada" type="xs:boolean" default="false"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>